#MatMul{

    position: relative;
    height: fit-content;
    width: min-content;
    align-items: center;
    background: rgb(188, 241, 102);
    font-size: 200%;
}

.logo{
    position: static;
    width: 25vw;
    height: 15vw;
}